.round {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px 0 0 0;
}

.box {
    padding: 20px; 
    background-color: #58a558;
    font-weight: bold;
    color: white;
    font-family: monospace;
    border-radius: 10px;
    text-align: center;
    border: 1px;
    font-size: 20px;
    margin: 20px 5px;
    display: block;
    text-decoration: none;
}

.box:hover {
    background-color: #316931;
    transition-duration: 0.5s;
}

.profile {
    text-align: center;
}

.profile p {
    font-size: 20px;
}

.profile a {
    text-decoration: none;
    color: black;
    font-family: monospace;
}